body {
    background-color: #eee;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login input {
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
}

.login button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    width: 40px;
}

#close {
    display: none;
}